<div class="header p-3 m-3 w-90 text-end">
  <h1 class="title"><%= title %></h1>
  <span class="separator border-end pb-2 ms-2 me-2"></span>
  <span class="version"><%= version %></span>
</div>

<hr/>
